
p {
    font-size: 18px;
}

/* banner */
.pb-400{
    padding-bottom: 400px;
}
.pb-350 {
    padding-bottom: 350px;
}
.pt-300 {
    padding-top: 300px;
}
.pb-45 {
    padding-bottom: 45px;
}
.pd-20{
    padding: 20px 0;
}
.relative {
    position: relative;
}

.img-shape {
    position: absolute;
}

.flex-aline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}
@media (min-width: 768px){
    .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}


.shape-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

.main-image-shape {
    width: 100%;
    height: auto;
    top: 5%;
}

.shape-one {
    width: 900px;
    height: 900px;
    top: -108px;
    right: -184px;
    z-index: -1;
    border-radius: 50%;
    background: linear-gradient(134deg, #f1f7ff, #dcd0ff);
}

.shape-sp-p{
    top: 10%;
    left: 10%;
    animation: animationFramesFour 15s infinite linear;
}

.shape-two {
    top: 16%;
    right: 770px;
    z-index: 1;
    background: linear-gradient(321deg, rgba(255,56,153,0.36), rgba(255,139,64,0.36));
    border-radius: 50%;
}

.shape-three {
    width: 378px;
    height: 378px;
    bottom: -10%;
    right: 287px;
    z-index: 1;
    background: linear-gradient(321deg, rgba(250,217,97,0.1), rgba(247,107,28,0.1));
    border-radius: 50%;
}
.shape-three-2 {
    width: 50px;
    height: 50px;
    bottom: -10%;
    right: 287px;
    z-index: 1;
    background: linear-gradient(321deg, rgba(250,217,97,0.1), rgba(247,107,28,0.1));
    border-radius: 50%;
}

.shape-three-3 {
    width: 750px;
    height: 750px;
    bottom: -15%;
    right: -50px;
    z-index: 1;
    background: linear-gradient(134deg, #c8dcfe, #d3c5ff);
    border-radius: 50%;
}

.shape-four {
    width: 12px;
    height: 12px;
    top: 20%;
    left: 28%;
    animation: animationFramesOne 25s infinite linear;
}


.shape-five{
    top: 50%;
    left: 10%;
    animation: animationFramesTwo 20s infinite linear alternate;
}

.shape-six{
    top: 80%;
    left: 40%;
    animation: animationFramesFive 20s infinite linear alternate;
}

.shape-seven{
    top: 100%;
    left: 15%;
    animation: animationFramesFive 15s infinite linear alternate;
}

/* .am-photo{
    top: 10%;
    left: 10%;
    width: 500px;
    height: 500px;
    background: url(../images/my-photo2.jpg);
    background-size: cover;
    background-position: bottom;
} */

/* text */
.main-text-48 {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 15px;
}

.main-text.relative {
    text-align: center;
}

.listS{
    display: flex;
    justify-content: flex-end;
}

.list .list-2{
    width: 100%;

}

ul>li{
padding: 0 50px;
text-align: start;
font-size: 18px;
}

.myinfo{
    display: flex;
}
.myinfo>li:first-child{
    width: 170px;
    font-weight: bold;
}
.myinfo li{
    line-height: 50px;
}

.skill-menu{
    display: flex;
    margin-bottom: 15px;
}
.skill-1>li:first-child{
    padding-right: 125px;
}

.skill-menu>li:first-child {
    font-weight: bold;
    width: 270px;
}
.myskill>li{
    line-height: 50px;
    padding: 0;
}

/* section-02 */

.dot-bg{
    top: 50%;
    width: 100%;
    background: url(../images/dot-bg.svg) repeat;
    padding: 70px 0 90px;
}

.main-text-2.relative {
    text-align: center;
}
.advantage{
    display: flex;
}
.icon{
    width: 80px;
}
.main-text-left{
    width: 60%;
    height: auto;
    top: 10%;
    margin: 0 auto;
}
.list-half{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.img-shape-2{
    position: absolute;
}

/* 미디어 쿼리 설정 */
/* Device = 랩탑, 데스크탑 */
@media(max-width:1280px){
    .main-image-shape {
      height: 100vh;
      top: 0;
      right: 0;
      z-index: 1;
  }
  .shape-one {
    width: 800px;
    height: 800px;
  }
  .pt-300 {
    padding-top: 300px;
}
.img-shape-2 {
    position: absolute;
    width: 100%;
}
ul>li {
    padding: 0 30px;
}
.list-half {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
  
  }
  /*Device = 태블릿, 아이패드(세로)*/
  @media(max-width:1024px){
    .shape-three {
        width: 150px;
        height: 150px;
    }
    .pt-300 {
      padding-top: 400px;
  }
  .main-text.relative {
    position: absolute;
    top: 20%;
}
.main-text.relative {
    left: 10%;
}
.skill-menu {
    margin-bottom: 10px;
}
.skill-1>li:first-child {
    padding-right: 20px;
}
.skill-menu>li:last-child{
    width: 520px;
}
  
    
  }
  /* 저해상도 태블릿, 모바일(가로) */
  @media(max-width:767px){
    /* 섹션1 */
    #section-01 {
        overflow: hidden;
    }
    .shape-three {
        top: 70%;
        right: 10%;
    }
    .pt-300 {
      padding-top: 480px;
  }
  .main-text.relative {
    left: 0;
}
  /* 섹션1 */
  /* 섹션2 */
  .advantage {
    flex-direction: column;
}
.pb-350 {
    padding-bottom: 450px;
}
/* 섹션3 */
section#section-03 {
    width: 100%;
    height: auto;
    padding: 100px 0;
    overflow: hidden;
    padding-bottom: 350px;
}
.shape-one {
    width: 300px;
    height: 300px;
    z-index: -999;
    top: 15%;
    right: -184px;
}
.shape-three-3 {
    width: 600px;
    height: 600px;
    bottom: 0%;

}

  }
  
  /* Device = 대부분의 스마트폰 모바일 기기(세로) */
  @media(max-width:500px){
    ul>li {
        font-size: 16px;
    }
      /* 섹션1 */
      #section-01 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .main-text.relative {
      right: 3%;
      text-align: center;
  }
  /* 섹션2 */
  .pb-350 {
    padding-bottom: 450px;
}
/* 섹션 3 */
  .list-half {
    width: 100%;
}

  .menu-icon {
    left: 75%;
  }
  .nav__list-item {
    font-size: 5vh;
  }

  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
  }
  
  @media(max-width:450px){
    /* 메뉴 */
    .btns {
      width: 100%;
      margin: 0;
      margin-left: 0;
      display: flex;
      justify-content: space-evenly;
  }
  .btns a {
    margin-left: 0;
  }
  .nav__list-item {
    font-size: 5vh;
  }
  /* 섹션1 */
  .main-text.relative {
    right: inherit;
}
.main-text-48 {
    font-size: 40px;
}
.myinfo li {
    text-align: center;
    line-height: 40px;
}
.myinfo>li:first-child {
    width: 120px;
}
.shape-three {
    width: 100px;
    height: 100px;
}
/* 섹션3 */
section#section-03 {

    padding-bottom: 150px;
}

  }
  
  @media(max-width:300px){
      
    .menu-icon {
      left: 60%;
      padding: 10px 10px 5px 10px;
      background: linear-gradient( -90deg, rgb(255,96,139,3) 0%, rgb(255,182,139,3) 100%);
      border-radius: 50%;
  }
    .btns {
      width: 100%;
      margin: none;
  }
  .btns a {
    margin-left: 0;
  }
  a {
    margin: 20px auto;
  }
  .nav__list-item {
    font-size: 5vh;
  }

  /* 섹션1  */
  .myinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 섹션2 */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.col-md-4 p{
    font-size: 16px;
}

/* 섹션3 */
.skill-menu {
    display: flex;
    flex-direction: column;
}
.skill-menu>li:first-child {
    text-align: center;
}
.skill-menu>li:last-child {
    text-align: center;
}
.skill-menu>li:last-child {
    width: auto;
}
.skill-menu>li:first-child {
    width: auto;
}
ul>li {
padding: 0;
}
  }

  