/****************
***** PORTFOLIO ****
****************/

/* 정리완료/ css통합본으로 취합하기 */
.comPd {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}
section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .container .txtWrap,
section .container .muImg {
  width: 50%;
}
section .container .muImg {
  display: flex;
  justify-content: end;
}
section .container .txtWrap.txtRt {
  text-align: right;
}
.txtWrap .secWrap .exTxt,
.txtWrap .secWrap .Text {
  margin-bottom: 30px;
}
.txtWrap .secWrap .MainTit {
margin-bottom: 20px;
font-size: 52px;
line-height: 62px;
}

/* bg_도형_css */
.shapeWrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.flowBg {
  width: 10%;
  position: absolute;
  z-index: -999;
}
.flowBg.right {
  right: 0;
}
.shape-four {
  width: 12px;
  height: 12px;
  top: 20%;
  right: 28%;
  animation: animationFramesOne 25s infinite linear;
}
.shape-five{
  top: 50%;
  left: 10%;
  animation: animationFramesFour 15s infinite linear alternate;
}
.shape-six{
  top: 80%;
  right: 40%;
  animation: animationFramesFive 15s infinite linear alternate;
}
.shape-seven{
  top: 100%;
  left: 15%;
  animation: animationFramesFive 15s infinite linear alternate;
}

/* 섹션 영역 */
section {
  width: 100%;
  margin: 100px 0;
  padding: 50px 0;
}

/****************
***** Modal ****
****************/
/* 현재삭제함 */


/****************
***** tab ****
****************/
.tabMenu {
  margin-bottom: 20px;
}
.tabMenu .tabBtn {
  margin-bottom: 100px;
}
.tabMenu .tabBtn .btn {
  margin-right: 30px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.tabMenu .tabBtn .btn::after {
  content: '';
  width: 0;
  height: 3px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #FFBD39;
  transition: ease 0.2s;
}
.tabMenu .tabBtn .btn:hover {
  background: transparent;
}
.tabMenu .tabBtn .btn:hover::after,
.tabMenu .tabBtn .btn.on::after {
  width: 100%;
}
.tabMenu .tabBtn .btn:last-child {
  margin-right: 0;
}
.tabMenu .tabCont .cont {
  display: none;
}
.tabMenu .tabCont .cont.on {
  display: block;
}
/* Two Button */
.twoLinkBtn > .linkBtn {
  margin-right: 20px;
}
.twoLinkBtn:last-child > .linkBtn {
  margin-right: 0;
}
/****************
***** media @ ****
****************/

/* Device = 랩탑, 데스크탑 */
@media(max-width:1280px){

}
/*Device = 태블릿, 아이패드(세로)*/
@media(max-width:1024px){

}
/* 저해상도 태블릿, 모바일(가로) */
@media(max-width:767px){

  section {
    margin: 50px 0;
    }
  .btns {
      width: 80%;
      margin: 0 auto;
  }
  .MainTit {
      font-size: 60px;
      line-height: 75px;
  }

}

/* Device = 대부분의 스마트폰 모바일 기기(세로) */
@media(max-width:500px){
    section{
        margin: 10px 0;
    }

.btns {
  width: 100%;
  margin: 0;
  margin-left: 0;
}
.btns a {
margin-left: 0;
}

.menu-icon {
  left: 75%;
}
.nav__list-item {
  font-size: 5vh;
}

.btns>a {
  margin: 25px 0;
}

.btns.aos-init.aos-animate {
  display: flex;
  flex-direction: column;
}
}



@media(max-width:400px){

}

@media(max-width:300px){

}
